.navbar-nav {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: center;
}

/* Общ стил за всички елементи */
.nav-item,
.instruction {
  flex: 1 1 100%;
  font-size: 18px;
  margin: 5px 0;
  color: black;
}

/* Подобрения за текста */
.instruction {
  font-weight: bold;
}

/* Адаптивен шрифт и оформление за различни екрани */
@media (min-width: 576px) {
  .nav-item,
  .instruction {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .nav-item,
  .instruction {
    flex: 1 1 48%;
    font-size: 17px;
  }
}

@media (min-width: 920px) {
  .nav-item,
  .instruction {
    flex: 1 1 24%;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .nav-item,
  .instruction {
    font-size: 20px;
  }
}
